nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 25px;
  padding: 5px 10px;
  box-sizing: border-box;
  height: 40px;
}

nav div {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 15px;
}

nav span, .navIcon {
  font-weight: 600;
  cursor: pointer;
  transition: color .3s;
  font-size: 1.25rem;
}

nav h2 {
  margin: 0;
  pointer-events: none;
}

nav span:hover, .navIcon:hover circle, .navIcon:hover line, .navIcon:hover path{
  color: var(--theme-color);
}

.searchInput {
  padding: 5px 5px;
  border: none;
  border-radius: 5px;
  background-color: #2e2e2e;
  outline: none;
  margin: 0;
  height: 20px;
}

.searchInput:hover, .searchInput:focus {
  outline: 1px solid var(--theme-color);
}